@page "/group/settings"

@using BulletinBoard.Services
@using BulletinBoard.Data
@using BulletinBoard.Model
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Components;
@using BulletinBoard.Extensions;

@inject IUserService UserService
@inject IGroupService GroupService
@inject IBulletinService BulletinService
@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject NavigationManager NavigationManager



@if (_pageState == State.ACCESS_BLOCKED)
{
    <AccessBlockedComponent></AccessBlockedComponent>
}
else if (_group != null)
{
    <MudCard Outlined="true" Class="mb-3">

        <MudCardMedia Image="/group-images/control-panel.svg" Height="200" Style="background-position:top" />
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h4"><strong>@_group.Name</strong> - Group panel</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent Class="pt-0">
            <MudText Typo="Typo.body2">Manage group users and settings</MudText>
        </MudCardContent>
    </MudCard>

    <MudExpansionPanels MultiExpansion="true">
        @*User panel*@
        <MudExpansionPanel IsInitiallyExpanded=false HideIcon="true">
            <TitleContent>
                <div class="d-flex">
                    <MudText Typo="Typo.h5">Users</MudText>
                    @if (_groupUsers.Any())
                    {
                        <MudBadge Content=@_groupUsers.Count Color="Color.Primary" Overlap="true" Class="d-flex ml-auto">
                            <MudIcon Icon="@Icons.Material.Filled.People" Color="Color.Default" />
                        </MudBadge>
                    }
                    else
                    {
                        <MudIcon Icon="@Icons.Material.Filled.People" Class="d-flex ml-auto" Color="Color.Default" />
                    }
                </div>
            </TitleContent>
            <ChildContent>

                <MudTable Items="@_groupUsers" Hover=true Striped=true Filter="new Func<GroupUser,bool>(FilterFunc1)" Elevation="0">
                    <ToolBarContent>
                        <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh>Username</MudTh>
                        <MudTh>Joined</MudTh>
                        <MudTh>Role</MudTh>
                        <MudTh>Action</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Username">@context.User!.UserName</MudTd>
                        <MudTd DataLabel="Joined">@context.Joined</MudTd>
                        <MudTd DataLabel="Role">
                            <MudSelect Class="mt-0" T="GroupRole" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" @bind-Value="@context.Role" SelectedValuesChanged="@(()=>RoleChanged(@context))">
                                <MudSelectItem Value="@(GroupRole.User)" />
                                <MudSelectItem Value="@(GroupRole.Moderator)" />
                                <MudSelectItem Value="@(GroupRole.Admin)" />
                            </MudSelect>
                        </MudTd>
                        <MudTd DataLabel="Action"><MudButton Color="Color.Error" OnClick="@(async() => await RemoveUser(@context))">Delete</MudButton></MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager />
                    </PagerContent>
                </MudTable>
            </ChildContent>
        </MudExpansionPanel>

        @*Pending approval panel*@
        <MudExpansionPanel IsInitiallyExpanded=false HideIcon="true" Disabled="!_pendingApproval.Any()">
            <TitleContent>
                <div class="d-flex">
                    <MudText Typo="Typo.h5">Pending approval</MudText>
                    @if (_pendingApproval.Any())
                    {
                        <MudBadge Content=@_pendingApproval.Count Color="Color.Primary" Overlap="true" Class="d-flex ml-auto">
                            <MudIcon Icon="@Icons.Material.Filled.Email" Color="Color.Default" />
                        </MudBadge>
                    }
                    else
                    {
                        <MudIcon Icon="@Icons.Material.Filled.Email" Class="d-flex ml-auto" Color="Color.Default" />
                    }
                </div>
            </TitleContent>
            <ChildContent>
                <MudTable Items="@_pendingApproval" Hover=true Striped=true Filter="new Func<GroupUser,bool>(FilterFunc1)" Elevation="0">
                    <ToolBarContent>
                        <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh>Username</MudTh>
                        <MudTh>Action</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Username">@context.User!.UserName</MudTd>
                        <MudTd DataLabel="Action">
                            <MudButton Color="Color.Success" OnClick="@(async() => await AcceptUser(@context))">Accept</MudButton>
                            <MudButton Color="Color.Error" OnClick="@(async() => await RejectUser(@context))">Reject</MudButton>
                        </MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager />
                    </PagerContent>
                </MudTable>
            </ChildContent>
        </MudExpansionPanel>

    </MudExpansionPanels>

}
else
{
    <LoadingComponent></LoadingComponent>
}


@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public Guid? GroupId { get; set; }


    private List<GroupUser> _groupUsers = new();
    private List<GroupUser> _pendingApproval = new();


    private string _searchString = "";
    private Group? _group;
    private State _pageState = State.LOADING;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopCenter;
    }

    public async override Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
        if (UserService.IsGroupAdmin(new Group(GroupId ?? Consts.DefaultGroupId)))
        {
            _group = await GroupService.GetGroupInfoAsyncCached(new Group(GroupId ?? Consts.DefaultGroupId));
            _groupUsers = await GroupService.GetGroupUsers(_group!);
            _pendingApproval = await GroupService.GetPendingApprovalUsers(_group!);
        }
        else
        {
            _pageState = State.ACCESS_BLOCKED;
        }
        StateHasChanged();
    }

    private bool FilterFunc1(GroupUser groupUser) => FilterFunc(groupUser, _searchString);

    private bool FilterFunc(GroupUser groupUser, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (groupUser.User!.UserName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }
    private async Task RoleChanged(GroupUser groupUser)
    {
        var result = await GroupService.ChangeRole(groupUser.Group!, groupUser.User!, groupUser.Role);
        if (!result)
            Snackbar.Add($"There was an error changing role", Severity.Error);
        else
            Snackbar.Add($"Role changed successfully", Severity.Success);
    }
    private async Task RemoveUser(GroupUser groupUser)
    {
        var parameters = new DialogParameters();
        parameters.Add("ContentText", $"Do you really want to delete '{groupUser.User!.UserName}' user?");
        parameters.Add("ButtonText", "Delete");
        parameters.Add("Color", Color.Error);

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.Small };

        var dialog = DialogService.Show<ConfirmationDialogTemplate>("Delete", parameters, options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            var removeUserResult = await GroupService.RemoveGroupUser(groupUser.Group!, groupUser.User!);
            if (!removeUserResult)
            {
                Snackbar.Add($"There was an error removing '{groupUser.User!.UserName}' user", Severity.Error);
                return;
            }
            _groupUsers.Remove(groupUser);
            Snackbar.Add($"User '{groupUser.User!.UserName}' deleted successfully", Severity.Success);
            StateHasChanged();
        }
    }

    private async Task AcceptUser(GroupUser groupUser)
    {
        var result = await GroupService.AcceptUser(groupUser.Group!, groupUser.User!);
        if (result)
        {
            Snackbar.Add($"User '{groupUser.User!.UserName}' accepted", Severity.Success);
            _pendingApproval.Remove(groupUser);
            groupUser.Role = GroupRole.User;
            _groupUsers.Add(groupUser);
            StateHasChanged();
        }
        else
            Snackbar.Add($"There was an error accepting '{groupUser.User!.UserName}' user", Severity.Error);

    }
    private async Task RejectUser(GroupUser groupUser)
    {
        var result = await GroupService.RejectUser(groupUser.Group!, groupUser.User!);
        if (result)
        {
            Snackbar.Add($"User '{groupUser.User!.UserName}' rejected", Severity.Warning);
            _pendingApproval.Remove(groupUser);
            StateHasChanged();
        }
        else
            Snackbar.Add($"There was an error rejecting '{groupUser.User!.UserName}' user", Severity.Error);
    }
}
