@page "/group/user"

@attribute [Authorize]
@using BulletinBoard.Services
@using BulletinBoard.Model
@using GEmojiSharp.Blazor

@inject ISnackbar Snackbar
@inject IUserService UserService
@inject IGroupService GroupService
@inject NavigationManager NavigationManager

<MudCard Outlined="true" Class="mb-3">

    <MudCardMedia Image="/group-images/group-page.svg" Height="200" />
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h4">Groups</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent Class="pt-0">
        <MudText Typo="Typo.body2">This are groups that you belong to.</MudText>
    </MudCardContent>
</MudCard>

<MudExpansionPanels MultiExpansion="true">
    <MudExpansionPanel IsInitiallyExpanded=true HideIcon="true">
        <TitleContent>
            <div class="d-flex">
                <MudText Typo="Typo.h5">My groups</MudText>
                @if (_userGroups.Any())
                {
                    <MudBadge Content=@_userGroups.Count Color="Color.Primary" Overlap="true" Class="d-flex ml-auto">
                        <MudIcon Icon="@Icons.Material.Filled.Groups" Color="Color.Default" />
                    </MudBadge>
                }
                else
                {
                    <MudIcon Icon="@Icons.Material.Filled.Groups" Class="d-flex ml-auto" Color="Color.Default" />
                }
            </div>
        </TitleContent>
        <ChildContent>
            @if (_userGroups.Any())
            {

                <MudGrid>
                    @foreach (var group in _userGroups)
                    {
                        <MudItem xs="6" md="4">
                            <MudCard Outlined="true">
                                <MudCardMedia Image="@group.Image!.GetGroupImagePath(group.Id)" Height="200" />
                                <MudCardHeader Class="pb-2">
                                    <CardHeaderContent>
                                        <MudText Typo="Typo.h5">@group.Name</MudText>

                                    </CardHeaderContent>
                                    <CardHeaderActions>
                                        <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
                                    </CardHeaderActions>
                                </MudCardHeader>

                                <MudCardContent Class="py-0">
                                    <Emoji>
                                        @group.Description
                                    </Emoji>
                                </MudCardContent>

                                <MudCardActions Class="pt-1 d-flex justify-end">
                                    <MudButton Variant="Variant.Text" Color="Color.Primary" Link=@($"/bulletins?groupid={group.Id}")>View</MudButton>
                                </MudCardActions>
                            </MudCard>
                        </MudItem>
                    }

                </MudGrid>
            }
            else
            {
                <MudText Typo="Typo.body2" Align="Align.Center">Sorry but you aren't in any group</MudText>
            }
        </ChildContent>
    </MudExpansionPanel>

    

    <MudExpansionPanel HideIcon="true">
         <TitleContent>
            <div class="d-flex">
                <MudText Typo="Typo.h5">Invitations</MudText>
                @if (_userAwaitingAcceptanceGroups.Any())
                {
                    <MudBadge Content=@_userAwaitingInvitationsGroups.Count Color="Color.Primary" Overlap="true" Class="d-flex ml-auto">
                        <MudIcon Icon="@Icons.Filled.InsertInvitation" Color="Color.Default" />
                    </MudBadge>
                }
                else
                {
                    <MudIcon Icon="@Icons.Filled.InsertInvitation" Class="d-flex ml-auto" Color="Color.Default" />
                }
            </div>
        </TitleContent>
        <ChildContent>
                @if (_userAwaitingInvitationsGroups.Any())
                {
                     <MudGrid>
                    @foreach (var group in _userAwaitingInvitationsGroups)
                    {
                        <MudItem xs="6" md="4">
                            <MudCard Outlined="true">
                                <MudCardMedia Image="@group.Image!.GetGroupImagePath(group.Id)" Height="200" />
                                <MudCardHeader Class="pb-2">
                                    <CardHeaderContent>
                                        <MudText Typo="Typo.h5">@group.Name</MudText>

                                    </CardHeaderContent>
                                    <CardHeaderActions>
                                        <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
                                    </CardHeaderActions>
                                </MudCardHeader>

                                <MudCardContent Class="py-0">
                                    <Emoji>
                                        @group.Description
                                    </Emoji>
                                </MudCardContent>

                                <MudCardActions Class="pt-1 d-flex justify-end">
                                    <MudButton Variant="Variant.Text" Color="Color.Success" OnClick=@(()=>AcceptJoin(group))>Accept</MudButton>
                                </MudCardActions>
                            </MudCard>
                        </MudItem>
                    }

                </MudGrid>
                }
                else
                {                    
                    <MudText Typo="Typo.body1" Align="Align.Center">Sorry but you have no invitations</MudText>           
                }
        </ChildContent>
    </MudExpansionPanel>


    <MudExpansionPanel HideIcon="true">
        <TitleContent>
            <div class="d-flex">
                <MudText Typo="Typo.h5">Awaiting acceptance</MudText>
                @if (_userAwaitingAcceptanceGroups.Any())
                {
                    <MudBadge Content=@_userAwaitingAcceptanceGroups.Count Color="Color.Primary" Overlap="true" Class="d-flex ml-auto">
                        <MudIcon Icon="@Icons.Material.Filled.Email" Color="Color.Default" />
                    </MudBadge>
                }
                else
                {
                    <MudIcon Icon="@Icons.Material.Filled.Email" Class="d-flex ml-auto" Color="Color.Default" />
                }
            </div>
        </TitleContent>
        <ChildContent>
                @if (_userAwaitingAcceptanceGroups.Any())
                {
                     <MudGrid>
                    @foreach (var group in _userAwaitingAcceptanceGroups)
                    {
                        <MudItem xs="6" md="4">
                            <MudCard Outlined="true">
                                <MudCardMedia Image="@group.Image!.GetGroupImagePath(group.Id)" Height="200" />
                                <MudCardHeader Class="pb-2">
                                    <CardHeaderContent>
                                        <MudText Typo="Typo.h5">@group.Name</MudText>

                                    </CardHeaderContent>
                                    <CardHeaderActions>
                                        <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
                                    </CardHeaderActions>
                                </MudCardHeader>

                                <MudCardContent Class="py-0">
                                    <Emoji>
                                        @group.Description
                                    </Emoji>
                                </MudCardContent>

                                <MudCardActions Class="pt-1 d-flex justify-end">
                                    <MudButton Variant="Variant.Text" Color="Color.Error" OnClick=@(()=>CancelJoin(group))>Cancel request</MudButton>
                                </MudCardActions>
                            </MudCard>
                        </MudItem>
                    }

                </MudGrid>
                }
                else
                {                    
                    <MudText Typo="Typo.body1" Align="Align.Center">You have not joined any group</MudText>           
                }
        </ChildContent>
    </MudExpansionPanel>

</MudExpansionPanels>

@code {
    private List<Group> _userGroups = new();
    private List<Group> _userAwaitingAcceptanceGroups = new();
    private List<Group> _userAwaitingInvitationsGroups = new();

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        UpdateGroupsInfo();
    }
    private void UpdateGroupsInfo()
    {
        _userGroups = UserService.GetUserGroups()!;
        _userAwaitingAcceptanceGroups = UserService.GetUserAwaitingAcceptanceGroups()!;
        _userAwaitingInvitationsGroups = UserService.GetUserAwaitingInvitationsGroups()!;
    }
    private async Task CancelJoin(Group group)
    {
        var resutl = await GroupService.CancelJoinToGroup(group, UserService.User!);
        UserService.UpdateUserGroups();
        UpdateGroupsInfo();
        StateHasChanged();
    }
    private async Task AcceptJoin(Group group)
    {
        //var resutl = await GroupService.CancelJoinToGroup(group, UserService.User!);
        //UserService.UpdateUserGroups();
        //UpdateGroupsInfo();
        //StateHasChanged();
    }
}
