@page "/board"

@attribute [Authorize]

@using BulletinBoard.Pages.Shared.Components
@using BulletinBoard.Services
@using BulletinBoard.Model
@using static Services.GlobalService

@using GEmojiSharp.Blazor

@inject ISnackbar _snackbar
@inject IBoardService _boardService
@inject NavigationManager _navigationManager

<MudCard Outlined="true" Class="mb-3">

    <MudCardMedia Image="/board-page.svg" Height="200"/>
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h4">Boards</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent Class="pt-0">
        <MudText Typo="Typo.body2">Browse in public board or create your own one.</MudText>
    </MudCardContent>
</MudCard>

@if (_pageState == State.AccessBlocked)
{
    <AccessBlockedComponent></AccessBlockedComponent>
}
else if (_pageState == State.Loading)
{
    <LoadingComponent></LoadingComponent>
}
else
{
<MudCard Outlined="true" Class="mb-3">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h4">Public listed boards</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <MudCardContent>
            @if (_publicBoards.Any())
            {
                <MudGrid>
                    @foreach (var board in _publicBoards)
                    {
                        <MudItem xs="6" md="6" lg="4" Class="d-flex">
                            <MudCard Outlined="true" Style="width:100%" Class="d-flex flex-column">
                                <MudCardMedia Image="@(_globalService.BoardImage(board.Image))" Height="200" />
                                <MudCardHeader Class="pb-2">
                                    <CardHeaderContent>
                                        <MudText Typo="Typo.h5">@board.Name</MudText>

                                    </CardHeaderContent>
                                     <CardHeaderActions>
                                            <MudMenu Class="mt-2" Icon="@Icons.Material.Filled.Settings" Color="Color.Default" AnchorOrigin="Origin.CenterLeft" TransformOrigin="Origin.TopRight">
                                                <MudMenuItem><MudIcon Icon="@Icons.Filled.Report" Color="Color.Error" Style="vertical-align:middle;" Title="Edit" Class="mr-2" /><span style="vertical-align:middle;">Report</span></MudMenuItem>                                                               
                                            </MudMenu>
                                    </CardHeaderActions>
                                </MudCardHeader>

                                <MudCardContent Class="py-0">
                                    <Emoji>
                                        @board.Description
                                    </Emoji>
                                </MudCardContent>

                                <MudCardActions Class="pt-1 mt-auto d-flex justify-end">
                                    @if (_userService.IsBoardOwner(board))
                                    {
                                        <MudText Typo="Typo.caption" Class="pl-2 mr-auto" Color="Color.Secondary">OWNER</MudText>
                                    }
                                    else if (_userService.IsBoardAdmin(board))
                                    {
                                        <MudText Typo="Typo.caption" Class="pl-2 mr-auto" Color="Color.Warning">ADMIN</MudText>
                                    }
                                    else if (_userService.IsBoardModerator(board))
                                    {
                                        <MudText Typo="Typo.caption" Class="pl-2 mr-auto" Color="Color.Info">MODERATOR</MudText>
                                    }
                                    else if (_userService.IsInBoard(board))
                                    {
                                        <MudText Typo="Typo.caption" Class="pl-2 mr-auto">USER</MudText>
                                    }

                                    @if (_userService.IsInBoard(board))
                                    {
                                        <MudButton Variant="Variant.Text" Color="Color.Primary" Link=@($"/bulletins?boardGuid={board.Guid}")>View</MudButton>
                                    }
                                    else if (_userService.PendingAcceptance(board))
                                    {
                                        <MudButton Variant="Variant.Text" Disabled=true Color="Color.Primary">Pending acceptance</MudButton>
                                    }
                                    else if (_userService.PendingInvitations(board))
                                    {
                                        <MudButton Variant="Variant.Text" Color="Color.Success" OnClick=@(async() => await AcceptInvitation(board))>Accept invitation</MudButton>
                                    }
                                    else
                                    {
                                        <MudButton Variant="Variant.Text" Color="Color.Secondary" OnClick=@(() => Join(board))>Join</MudButton>
                                    }
                                </MudCardActions>
                            </MudCard>
                        </MudItem>
                    }
                </MudGrid>
            }
            else
            {
                <MudText Typo="Typo.h5" Align="Align.Center">Sorry there are no public boards</MudText>
            }
        </MudCardContent>
    </MudCardContent>
</MudCard>
    
}
@code {
    private List<Board> _publicBoards = new();
    private State _pageState = State.Loading;

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        await UpdateBoardsInfo();
        _pageState = State.Success;
    }
    private async Task UpdateBoardsInfo()
    {
        _publicBoards = await _boardService.GetPublicBoard();
    }

    private async void Join(Board board)
    {
        await _boardService.JoinToBoard(board, _userService.User!);
        _userService.UpdateUserBoards();
        await UpdateBoardsInfo();
        StateHasChanged();
    }

    private async Task AcceptInvitation(Board board)
    {
        await _boardService.AcceptInvitation(board, _userService.User!);
        _userService.UpdateUserBoards();
        await UpdateBoardsInfo();
        StateHasChanged();
    }
}
