@page "/board/user"

@attribute [Authorize]
@using BulletinBoard.Services
@using BulletinBoard.Model
@using GEmojiSharp.Blazor
@using BulletinBoard.Pages.Shared.Components
@using static Services.GlobalService



@inject ISnackbar _snackbar
@inject IBoardService _boardService
@inject NavigationManager _navigationManager
@inject IDialogService _dialogService


<MudCard Outlined="true" Class="mb-3">

    <MudCardMedia Image="/group_page.svg" Height="200" />
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h4">Boards</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent Class="pt-0">
        <MudText Typo="Typo.body2">This are boards that you belong to.</MudText>
    </MudCardContent>
</MudCard>

<MudExpansionPanels MultiExpansion="true">
    @*User boards panel*@
    <MudExpansionPanel IsInitiallyExpanded=true HideIcon="true">
        <TitleContent>
            <div class="d-flex">
                <MudText Typo="Typo.h5">My groups</MudText>
                @if (_userBoards.Any())
                {
                        <MudBadge Content=@_userBoards.Count Color="Color.Primary" Overlap="true" Class="d-flex ml-auto">
                            <MudIcon Icon="@Icons.Material.Filled.Groups" Color="Color.Default" />
                        </MudBadge>
                }
                else
                {
                        <MudIcon Icon="@Icons.Material.Filled.Groups" Class="d-flex ml-auto" Color="Color.Default" />
                }
            </div>
        </TitleContent>
        <ChildContent>
            @if (_userBoards.Any())
            {

                    <MudGrid>
                    @foreach (var board in _userBoards)
                    {
                                <MudItem xs="6" md="4" Class="d-flex">
                                    <MudCard Outlined="true" Style="width:100%" Class="d-flex flex-column">
                                        <MudCardMedia Image="@(_globalService.BoardImage(board.Image))" Height="200" />
                                        <MudCardHeader Class="pb-2">
                                            <CardHeaderContent>
                                                <MudText Typo="Typo.h5">@board.Name</MudText>

                                            </CardHeaderContent>
                                            <CardHeaderActions>
                                                <MudMenu Class="mt-2" Icon="@Icons.Material.Filled.Settings" Color="Color.Default" AnchorOrigin="Origin.CenterLeft" TransformOrigin="Origin.TopRight">
                                                    <MudMenuItem><MudIcon Icon="@Icons.Filled.Report" Color="Color.Error" Style="vertical-align:middle;" Title="Edit" Class="mr-2" /><span style="vertical-align:middle;">Report</span></MudMenuItem>                                                               
                                                    @if(!_userService.IsBoardOwner(board)){
                                                        <MudMenuItem OnClick="@(async ()=> await LeaveBoard(board))"><MudIcon Icon="@Icons.Filled.ExitToApp" Style="vertical-align:middle;" Title="Leave" Class="mr-2" /><span style="vertical-align:middle;">Leave board</span></MudMenuItem>
                                                    }
                                                </MudMenu>
                                            </CardHeaderActions>
                                        </MudCardHeader>

                                        <MudCardContent Class="py-0">
                                            <Emoji>
                                        @board.Description
                                            </Emoji>
                                        </MudCardContent>

                                        <MudCardActions Class="pt-1 mt-auto d-flex justify-end">
                                            @if (_userService.IsBoardOwner(board))
                                            {
                                                <MudText Typo="Typo.caption" Class="pl-2 mr-auto" Color="Color.Secondary">OWNER</MudText>
                                            }
                                            else if (_userService.IsBoardAdmin(board))
                                            {
                                                <MudText Typo="Typo.caption" Class="pl-2 mr-auto" Color="Color.Warning">ADMIN</MudText>
                                            }
                                            else if (_userService.IsBoardModerator(board))
                                            {
                                                <MudText Typo="Typo.caption" Class="pl-2 mr-auto" Color="Color.Info">MODERATOR</MudText>
                                            }
                                            else if (_userService.IsInBoard(board))
                                            {
                                                <MudText Typo="Typo.caption" Class="pl-2 mr-auto">USER</MudText>
                                            }
                                            <MudButton Variant="Variant.Text" Color="Color.Primary" Link=@($"/bulletins?boardId={board.Id}")>View</MudButton>
                                        </MudCardActions>
                                    </MudCard>
                                </MudItem>
                    }

                    </MudGrid>
            }
            else
            {
                    <MudText Typo="Typo.body2" Align="Align.Center">Sorry but you aren't in any board</MudText>
            }
        </ChildContent>
    </MudExpansionPanel>

    @*Invitations panel*@
    <MudExpansionPanel HideIcon="true" Disabled="!_userPendingInvitationsBoards.Any()">
        <TitleContent>
            <div class="d-flex">
                <MudText Typo="Typo.h5">Invitations</MudText>
                @if (_userPendingInvitationsBoards.Any())
                {
                        <MudBadge Content=@_userPendingInvitationsBoards.Count Color="Color.Primary" Overlap="true" Class="d-flex ml-auto">
                            <MudIcon Icon="@Icons.Filled.InsertInvitation" Color="Color.Default" />
                        </MudBadge>
                }
                else
                {
                        <MudIcon Icon="@Icons.Filled.InsertInvitation" Class="d-flex ml-auto" Color="Color.Default" />
                }
            </div>
        </TitleContent>
        <ChildContent>
          @if (_userPendingInvitationsBoards.Any())
            {
                <MudGrid>
                    @foreach (var board in _userPendingInvitationsBoards)
                    {
                                <MudItem xs="6" md="4">
                                    <MudCard Outlined="true">
                                        <MudCardMedia Image="@(_globalService.BoardImage(board.Image))" Height="200" />
                                        <MudCardHeader Class="pb-2">
                                            <CardHeaderContent>
                                                <MudText Typo="Typo.h5">@board.Name</MudText>

                                            </CardHeaderContent>
                                            <CardHeaderActions>
                                                <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
                                            </CardHeaderActions>
                                        </MudCardHeader>

                                        <MudCardContent Class="py-0">
                                            <Emoji>
                                        @board.Description
                                            </Emoji>
                                        </MudCardContent>

                                        <MudCardActions Class="pt-1 d-flex justify-end">
                                            <MudButton Variant="Variant.Text" Color="Color.Success" OnClick=@(()=>AcceptInvitation(board))>Accept</MudButton>
                                        </MudCardActions>
                                    </MudCard>
                                </MudItem>
                    }

                    </MudGrid>
            }
           else
            {
                <MudText Typo="Typo.body1" Align="Align.Center">Sorry but you have no invitations</MudText>
            }
        </ChildContent>
    </MudExpansionPanel>

    @*Pending acceptance panel*@
    <MudExpansionPanel HideIcon="true" Disabled="!_userPendingAcceptanceBoards.Any()">
        <TitleContent>
            <div class="d-flex">
                <MudText Typo="Typo.h5">Pending acceptance</MudText>
                @if (_userPendingAcceptanceBoards.Any())
                {
                        <MudBadge Content=@_userPendingAcceptanceBoards.Count Color="Color.Primary" Overlap="true" Class="d-flex ml-auto">
                            <MudIcon Icon="@Icons.Material.Filled.Email" Color="Color.Default" />
                        </MudBadge>
                }
                else
                {
                        <MudIcon Icon="@Icons.Material.Filled.Email" Class="d-flex ml-auto" Color="Color.Default" />
                }
            </div>
        </TitleContent>
        <ChildContent>
           @if (_userPendingAcceptanceBoards.Any())
          {
                  <MudGrid>
                    @foreach (var board in _userPendingAcceptanceBoards)
                    {
                                <MudItem xs="6" md="4">
                                    <MudCard Outlined="true">
                                        <MudCardMedia Image="@(_globalService.BoardImage(board.Image))" Height="200" />
                                        <MudCardHeader Class="pb-2">
                                            <CardHeaderContent>
                                                <MudText Typo="Typo.h5">@board.Name</MudText>

                                            </CardHeaderContent>
                                            <CardHeaderActions>
                                                <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
                                            </CardHeaderActions>
                                        </MudCardHeader>

                                        <MudCardContent Class="py-0">
                                            <Emoji>
                                        @board.Description
                                            </Emoji>
                                        </MudCardContent>

                                        <MudCardActions Class="pt-1 d-flex justify-end">
                                            <MudButton Variant="Variant.Text" Color="Color.Error" OnClick=@(()=>CancelJoin(board))>Cancel request</MudButton>
                                        </MudCardActions>
                                    </MudCard>
                                </MudItem>
                    }

                    </MudGrid>
            }
           else
           { 
                <MudText Typo="Typo.body1" Align="Align.Center">You have not joined any board</MudText>
            }
        </ChildContent>
    </MudExpansionPanel>

</MudExpansionPanels>

@code {
    private List<Board> _userBoards = new();
    private List<Board> _userPendingAcceptanceBoards = new();
    private List<Board> _userPendingInvitationsBoards = new();

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        UpdateBoardsInfo();
    }
    private void UpdateBoardsInfo()
    {
        _userBoards = _userService.GetUserBoards()!;
        _userPendingAcceptanceBoards = _userService.GetUserPendingAcceptanceBoards()!;
        _userPendingInvitationsBoards = _userService.GetUserPendingInvitationsBoards()!;
    }
    private async Task CancelJoin(Board board)
    {
        await _boardService.CancelJoinToBoard(board, _userService.User!);
        _userService.UpdateUserBoards();
        UpdateBoardsInfo();
        StateHasChanged();
    }
    private async Task AcceptInvitation(Board board)
    {
        await _boardService.AcceptInvitation(board, _userService.User!);
        _userService.UpdateUserBoards();
        UpdateBoardsInfo();
        StateHasChanged();
    }
    private async Task LeaveBoard(Board board)
    {
        var parameters = new DialogParameters
        {
            {"ContentText", $"Do you really want to leave '{board.Name}' board?"},
            {"ButtonText", "Leave"},
            {"Color", Color.Error}
        };

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.Small };

        var dialog = _dialogService.Show<ConfirmationDialogComponent>("Delete", parameters, options);
        var result = await dialog.Result;

         if (!result.Cancelled)
        {
            var leaveBoardResult = await _boardService.RemoveBoardUser(board, _userService.User!);
            if (!leaveBoardResult)
            {
                _snackbar.Add($"There was an error - contact system admin", Severity.Error);
                return;
            }
            _userBoards.Remove(board);
            _snackbar.Add($"Successfully left '{board.Name}' board", Severity.Success);
            StateHasChanged();
        }
    }
}
