@using BulletinBoard.Model
@using System.IO
@inject IWebHostEnvironment env

<EditForm Model="bulletin" OnValidSubmit="ValidFormSubmitted">
    <div class="row mt-2">
        <div class="col-lg-8 col-centered">
            <div class="row mt-2 text-center">
                <div class="col">Bulletin</div>
                <div class="col">Attachments</div>
                <div class="col">Location</div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-lg-8 col-centered">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: @(Step*33>=99?100:Step*33)%" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <form>

        <div class="row mt-2 @(Step==1?"":"d-none")"  style="min-height:30rem">
            <div class="col-lg-8 col-centered">
                <div class="mb-3">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <InputText id="title" class="form-control" @bind-Value="bulletin.Title"></InputText>
                        <small class="form-text text-danger">Please enter a correct email address.</small>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        <label for="title">Description</label>
                        <InputTextArea id="title" class="form-control" @bind-Value="bulletin.Description" rows="9"></InputTextArea>
                    </div>
                </div>

            </div>
        </div>

        <div class="row mt-2 @(Step==2?"":"d-none")"  style="min-height:30rem">
            <div class="col-lg-8 col-centered">
                @foreach(var img in Base64Images)
                {
                    <img src="@img"/>
                }
                <div class="row text-center mt-5">

                <label for="imgInput" class="input-label">
                    <a class="btn btn-warning">
                        <i class="fa fa-images fa-fw"></i>
                        Upload images
                        </a>
                </label>
                </div>
                <div class="row text-center">
                    <small class="text-muted">Max 5 images, @UploadLimit MB per img</small>
                </div>

                <InputFile OnChange="@LoadFiles" multiple 
                accept=".jpg, .jpeg, .png" 
                CustomExtensionMessage="Only .jpg .jpeg and .png files are allowed." 
                MaxFileSize=@UploadLimit
                FileTooLargeMessage="File is too large"
                class="d-none"
                id="imgInput"/>

            </div>
        </div>

        <div class="row mt-2 @(Step==3?"":"d-none")"  style="min-height:30rem">
            <div class="col-lg-8 col-centered">
                <div class="mb-3">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <InputText id="title" class="form-control" @bind-Value="bulletin.Title"></InputText>
                        <small class="form-text text-danger">Please enter a correct email address.</small>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        <label for="title">Description</label>
                        <InputTextArea id="title" class="form-control" @bind-Value="bulletin.Description" rows="5"></InputTextArea>
                    </div>
                </div>
            </div>
        </div>

    </form>

    <div class="row mt-2">
        <div class="col-lg-8 col-centered">
            <button class="btn btn-primary @(Step==1?"disabled":"")" @onclick=PreviousStep style="width:8rem">Previous step</button>
            <button class="btn btn-primary @(Step==3?"d-none":"")" style="float:right; width:8rem" @onclick=NextStep>Next step</button>
            <button class="btn btn-success @(Step!=3?"d-none":"")" style="float:right; width:8rem" @onclick=Submit>Publish</button>

        </div>

    </div>

</EditForm>

@code {
    [Parameter]
    public Guid GroupId { get; set; } = Guid.Empty;
    // Form
    private Bulletin bulletin = new();

    private int UploadLimit = 5;

    private uint Step { get; set; } = 1;
    private long Files { get; set; } = 0;

    private HashSet<IBrowserFile> Images { get; set; } = new();
    private HashSet<string> Base64Images { get; set; } = new();

    private void ValidFormSubmitted()
    {

    }

    private void NextStep() => Step++;
    private void PreviousStep() => Step--;


    async Task LoadFiles(InputFileChangeEventArgs e)
    {
        Images.Clear();
        Base64Images.Clear();

        var format = "image/jpeg";
        foreach(var file in e.GetMultipleFiles(5))
        {
            Images.Add(file);
            var resizedImageFile = await file.RequestImageFileAsync(format,250, 250);
            var buffer = new byte[resizedImageFile.Size];
            await resizedImageFile.OpenReadStream().ReadAsync(buffer);
            Base64Images.Add($"data:{format};base64,{Convert.ToBase64String(buffer)}");
        }
    }

    private async Task Submit()
    {
        foreach(var img in Images)
        {
            Stream stream = img.OpenReadStream(UploadLimit*1000000);
            var path = $"{env.WebRootPath}\\{img.Name}";
            FileStream fs = File.Create(path);
            await stream.CopyToAsync(fs);
            stream.Close();
            fs.Close();
        }
    }

}
