@using BulletinBoard.Model


@if (Bulletin != null && Bulletin.User != null)
{
    <MudCard Elevation="4" Class="mb-3" Style="height:100%">
        <MudCardHeader>
            <CardHeaderAvatar>
                @*<MudAvatar Image=@(Bulletin.User==null?"/images/avatars/no_avatar.png":Bulletin.User.Image.GetPath()) />*@
            </CardHeaderAvatar>
            <CardHeaderContent >
                <MudText Typo="Typo.body1">@Bulletin.User.UserName</MudText>
                <MudText Typo="Typo.body2"><strong>Added:</strong> @Bulletin.Created</MudText>
            </CardHeaderContent>
            <CardHeaderActions>
                <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
            </CardHeaderActions>
        </MudCardHeader>
        <MudCardContent>
            <MudText Typo="Typo.h4">@Bulletin.Title</MudText>
            <MudText Typo="Typo.body2" Class="mt-2" Style="overflow-wrap: break-word;">@Bulletin.Description</MudText>
        </MudCardContent>
        @if (Bulletin.Images.Any())
        {
            <MudCarousel @ref="_carousel" ItemsSource="@Bulletin.Images" Style="height:200px; width:100%" ShowArrows="true" ShowDelimiters="true" AutoCycle="false">
                <ItemTemplate>
                    <div class="d-flex flex-column flex-column justify-center">
                        <MudCardMedia Image=@context.GetPath() />
                    </div>
                </ItemTemplate>
            </MudCarousel>
        }
        <MudCardActions>
            <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Default" />
            <MudIconButton Icon="@Icons.Material.Filled.Share" Color="Color.Default" />
        </MudCardActions>
    </MudCard>
}

@code {
    [Parameter]
    public Bulletin Bulletin { get; set; } = new();
    private MudCarousel<Image> _carousel;
}
