@using BulletinBoard.Services
@using BulletinBoard.Data
@using BulletinBoard.Model
@using BulletinBoard.DTOs
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Components;

@inject IJSRuntime JS

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<User> UserManager
<MudText Typo="Typo.h4" Class="mr-auto">Bulletins</MudText>
<MudElement Class="d-flex mb-4 justify-end ">
    <MudElement>
        <MudSelect Label="Order" @bind-Value="_orderBy" Variant="Variant.Outlined" Style="max-width:280px">
            @foreach (OrderBy orderByItem in Enum.GetValues(typeof(OrderBy)))
            {
                <MudSelectItem Value="@orderByItem">@orderByItem</MudSelectItem>
            }
        </MudSelect>
    </MudElement>
    <MudElement>
        <MudSelect Label="Sort" @bind-Value="_sortBy" Variant="Variant.Outlined" Style="width:130px" Class="ml-2">
            @foreach (SortBy sortByItem in Enum.GetValues(typeof(SortBy)))
            {
                <MudSelectItem Value="@sortByItem">@sortByItem</MudSelectItem>
            }
        </MudSelect>
    </MudElement>
    <MudElement>
        <MudSelect T="int" Label="Show" @bind-Value="_bulletinsPerPage" Variant="Variant.Outlined" Style="max-width:80px" Class="ml-2">
            <MudSelectItem T="int" Value="10" />
            <MudSelectItem T="int" Value="30" />
            <MudSelectItem T="int" Value="60" />
        </MudSelect>
    </MudElement>
</MudElement>


@if (_bulletins != null)
{
    <MudElement>
        <div class="grid" style="display: grid; grid-gap:10px;grid-template-columns: repeat(auto-fill, minmax(350px,1fr)); grid-auto-rows: 20px;">
            @foreach (var bulletin in _bulletins)
            {
                <div class="item">
                    <div class="content">
                        <CardComponent Bulletin="bulletin"></CardComponent>
                    </div>
                </div>
            }
        </div>
    </MudElement>
    <MudElement Class="d-flex justify-center">
        <MudPagination Size="Size.Large" BoundaryCount="2" MiddleCount="3" Count="NumberOfPages()" @bind-Selected="@_page" />
    </MudElement>

}
else
{
    <MudElement Class="d-flex flex-column">
        <MudProgressCircular Color="Color.Primary" Style="height:200px;width:200px;" Class="mx-auto mt-15" Indeterminate="true" />
        <MudText Typo="Typo.h4" Class="mx-auto mt-15">Loading bulletins</MudText>
    </MudElement>
}


@code {
    [Inject]
    protected IBulletinService _bulletinService { get; set; }
    [Inject]
    protected IUserService _userService { get; set; }
    [Inject]
    protected IDialogService _dialogService { get; set; }

    [Parameter]
    public User? _user { get; set; }
    [Parameter]
    public Group? _group { get; set; }

    public SortBy _sortBy = SortBy.Created;
    public OrderBy _orderBy = OrderBy.Ascending;

    public int _bulletinsPerPage = 10;

    private IList<BulletinInfoDTO> _bulletins = default!;
    private int _page = 1;
    private int _bulletinsCount = 0;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        _user = await UserManager.GetUserAsync(user);
        await GetBulletins();
    }
    protected async Task GetBulletins()
    {
        if (_group is null)
        {
            _bulletins = await _bulletinService.GetBulletinsAsyncCached(_page, _bulletinsPerPage >= 30 ? 30 : _bulletinsPerPage, _user);
            _bulletinsCount = await _bulletinService.GetBulletinsCountAsyncCached(_user);
        }
        else
        {
            _bulletins = await _bulletinService.GetBulletinsAsyncCached(_page, _bulletinsPerPage >= 30 ? 30 : _bulletinsPerPage, _user, _group);
            _bulletinsCount = await _bulletinService.GetBulletinsCountAsyncCached(_user, _group);
        }

    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("resizeAllGridItems");         
        }
    }
    private int NumberOfPages()
    {
        if (_bulletinsCount == 0) return 0;
        return Convert.ToInt32(Math.Ceiling(Convert.ToDouble(_bulletinsCount)/Convert.ToDouble(_bulletinsPerPage)));
    }
    private async Task Test(){
        await JS.InvokeVoidAsync("initializedBlazor");
    }

}
