@using BulletinBoard.Model
@using BulletinBoard.Services
@using GEmojiSharp.Blazor
@using BulletinBoard.Extensions
@implements IDisposable

@inject IUserService UserService
@inject IDialogService DialogService


@if (Bulletin != null && Bulletin.User != null)
{
    <MudCard Outlined="true" Class="mb-5">
        <div style="position: relative;">
            <MudCardHeader>
                <CardHeaderAvatar>
                    <MudAvatar Image=@(Bulletin.User.Image==null?Consts.DefaultAvatarPath:Bulletin.User.Image.GetUserImagePath()) />
                </CardHeaderAvatar>
                <CardHeaderContent>
                    <MudText Typo="Typo.body1">@Bulletin.User.UserName</MudText>
                    <MudText Typo="Typo.body2"><strong>Created:</strong> @(((DateTime)Bulletin.Created).ToString("dd.MM.yyyy")) </MudText>
                    @if (Bulletin.Expired != null)
                    {
                        <MudText Typo="Typo.body2"><strong>Expiring:</strong> @(((DateTime)Bulletin.Expired).ToString("dd.MM.yyyy"))</MudText>
                    }
                    @if (GroupInfo)
                    {
                        <MudText Typo="Typo.body2" Style="overflow-wrap: break-word;"><strong>Post from group:</strong> @Bulletin.Group!.Name</MudText>
                    }
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudMenu Class="mt-2" Icon="@Icons.Material.Filled.Settings" Color="Color.Default" AnchorOrigin="Origin.CenterLeft" TransformOrigin="Origin.TopRight">
                        <MudMenuItem><MudIcon Icon="@Icons.Filled.Report" Color="Color.Error" Style="vertical-align:middle;" Title="Edit" Class="mr-2" /><span style="vertical-align:middle;">Report</span></MudMenuItem>
                        @if (UserService.IsGroupModerator(new Group(){Id = Bulletin.Group!.Id}) || UserService.IsBulletinOwner(Bulletin))
                        {
                            <MudMenuItem OnClick=@(async () => await BulletinRemovedCallback.InvokeAsync(Bulletin))><MudIcon Icon="@Icons.Filled.Delete" Style="vertical-align:middle;" Title="Edit" Class="mr-2" /><span style="vertical-align:middle;">Delete</span></MudMenuItem>                         
                            <MudMenuItem Link=@($"bulletin/edit?&bulletinid={Bulletin.Id}")><MudIcon Icon="@Icons.Filled.Edit" Style="vertical-align:middle;" Title="Edit" Class="mr-2"/><span style="vertical-align:middle;">Edit</span></MudMenuItem>
                        }
                    </MudMenu>
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardContent Class="pt-0">
                <MudText Typo="Typo.h4">@Bulletin.Title</MudText>
                <Emoji>
                    <MudText Typo="Typo.body2" Class="mt-2" Style="overflow-wrap: break-word;">@Bulletin.Description</MudText>
                </Emoji>

                @if (Bulletin.Modified != null)
                {
                    <MudText Typo="Typo.body2" Class="mt-2"><strong>Last modified:</strong> @(((DateTime)Bulletin.Modified).ToString("dd.MM.yyyy"))</MudText>
                }
            </MudCardContent>
            @if (Bulletin.Images.Any())
            {
                <MudHidden Breakpoint="Breakpoint.Md" Invert="false">
                    <MudCarousel @ref="_carousel" ItemsSource="@Bulletin.Images" Style="height:200px; width:100%" ShowArrows="true" ShowDelimiters="true" AutoCycle="false">
                        <ItemTemplate>
                            <div class="d-flex flex-column flex-column justify-center" @onclick="@(e=>OpenDialog(@context.GetBulletinImagePath(Bulletin.Group!.Id,Bulletin.Id)))">
                                <MudCardMedia Image=@context.GetBulletinImagePath(Bulletin.Group!.Id,Bulletin.Id) />
                            </div>
                        </ItemTemplate>
                    </MudCarousel>
                </MudHidden>

                <MudHidden Breakpoint="Breakpoint.Md" Invert="true">
                    <MudGrid Class="px-4">
                        @foreach (var img in Bulletin.Images)
                        {
                            <MudItem xs="4">
                                <div class="d-flex flex-column flex-column justify-center" @onclick="@(e=>OpenDialog(img.GetBulletinImagePath(Bulletin.Group!.Id,Bulletin.Id)))">
                                    <MudCardMedia Image=@img.GetBulletinImagePath(Bulletin.Group!.Id,Bulletin.Id) />
                                </div>
                            </MudItem>
                        }
                    </MudGrid>
                </MudHidden>
            }
            @if (Bulletin.Expired != null && Bulletin.Expired < DateTime.UtcNow)
            {
                <MudOverlay Visible="true" LightBackground="true" Absolute="true">
                    <MudChip Color="Color.Error" Class="px-5 py-2 mx-2"><MudText Typo="Typo.h6">This bulletin has expired</MudText></MudChip>
                </MudOverlay>
            }
        </div>
        <MudCardActions Class="d-flex">
            <AuthorizeView>
                <Authorized>
                    <MudText Class="pl-3">@Bulletin.VotesCount</MudText>
                    <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color=@(Bulletin.UserVoted?Color.Secondary:Color.Default) OnClick=Vote Disabled=@(Bulletin.Expired != null &&Bulletin.Expired<DateTime.UtcNow) />
                    <MudText Class="pl-3">@Bulletin.CommentsCount</MudText>
                    <MudIconButton Icon="@Icons.Filled.Comment" Color="Color.Default" />
                    <MudIconButton Icon="@Icons.Filled.Bookmark" Color=@(Bulletin.UserBookmark?Color.Warning:Color.Default) OnClick=Bookmark Style="margin-left:auto" />
                </Authorized>
                <NotAuthorized>
                    <MudText Class="pl-3">@Bulletin.VotesCount</MudText>
                    <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Default" Disabled />
                    <MudText Class="pl-3">@Bulletin.CommentsCount</MudText>
                    <MudIconButton Icon="@Icons.Filled.Comment" Color="Color.Default" />
                    <MudIconButton Icon="@Icons.Filled.Bookmark" Color="Color.Default" Style="margin-left:auto" Disabled />
                </NotAuthorized>
            </AuthorizeView>
            <MudIconButton Link=@($"bulletin?groupid={Bulletin.Group!.Id}&bulletinid={Bulletin.Id}") Icon="@Icons.Filled.ReadMore" Color="Color.Default" />

        </MudCardActions>
    </MudCard>
}



@code {
    [Parameter]
    public Bulletin Bulletin { get; set; } = new();
    [Parameter]
    public bool GroupInfo { get; set; } = false;

    [Parameter]
    public EventCallback<Bulletin> BulletinRemovedCallback { get; set; }

    private MudCarousel<Image>? _carousel;
    private void Vote()
    {
        Bulletin.VotesCount = Bulletin.UserVoted ? Bulletin.VotesCount - 1 : Bulletin.VotesCount + 1;
        Bulletin.UserVoted = !Bulletin.UserVoted;
        UserService.Vote(Bulletin);
    }
    private void Bookmark()
    {
        Bulletin.UserBookmark = !Bulletin.UserBookmark;
        UserService.Bookmark(Bulletin);
    }
    public void Dispose()
    {

    }
    private void OpenDialog(string path)
    {
        var parameters = new DialogParameters();
        parameters.Add("Path", path);
        DialogService.Show<ImageDialogComponent>("Image", parameters, new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.Large });
    }
    private void Delete()
    {
        
    }
}
