@using BulletinBoard.Model
@using BulletinBoard.DTOs
@implements IDisposable

@inherits ListPage

@if (Bulletin != null && Bulletin.User != null)
{
    <MudCard Outlined="true" Class="mb-5">
        <div style="position: relative;">
            <MudCardHeader>
                <CardHeaderAvatar>
                    <MudAvatar Image=@(Bulletin.User.Image==null?"/images/avatars/no_avatar.png":Bulletin.User.Image.GetPath()) />
                </CardHeaderAvatar>
                <CardHeaderContent>
                    <MudText Typo="Typo.body1">@Bulletin.User.UserName</MudText>
                    <MudText Typo="Typo.body2"><strong>Created:</strong> @(((DateTime)Bulletin.Created).ToString("dd.MM.yyyy")) </MudText>
                    @if (Bulletin.Expired != null)
                    {
                        <MudText Typo="Typo.body2"><strong>Expiring:</strong> @(((DateTime)Bulletin.Expired).ToString("dd.MM.yyyy"))</MudText>
                    }
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudMenu Class="mt-2" Icon="@Icons.Material.Filled.Settings" Color="Color.Default" AnchorOrigin="Origin.CenterLeft" TransformOrigin="Origin.TopRight">
                        <MudMenuItem><MudIcon Icon="@Icons.Filled.Report" Color="Color.Error" Style="vertical-align:middle;" Title="Edit" Class="mr-2"/><span style="vertical-align:middle;">Report</span></MudMenuItem>
                        <MudMenuItem><MudIcon Icon="@Icons.Filled.Delete" Style="vertical-align:middle;" Title="Edit" Class="mr-2"/><span style="vertical-align:middle;">Delete</span></MudMenuItem>
                        <MudMenuItem><MudIcon Icon="@Icons.Filled.Edit" Style="vertical-align:middle;" Title="Edit" Class="mr-2"/><span style="vertical-align:middle;">Edit</span></MudMenuItem>
                    </MudMenu>
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardContent Class="pt-0">
                <MudText Typo="Typo.h4">@Bulletin.Title</MudText>
                <MudText Typo="Typo.body2" Class="mt-2" Style="overflow-wrap: break-word;">@Bulletin.Description</MudText>
                @if (Bulletin.Modified != null)
                {
                    <MudText Typo="Typo.body2" Class="mt-2"><strong>Last modified:</strong> @(((DateTime)Bulletin.Modified).ToString("dd.MM.yyyy"))</MudText>
                }
            </MudCardContent>
            @if (Bulletin.Images.Any())
            {
                <MudHidden Breakpoint="Breakpoint.Lg" Invert="false">
                    <MudCarousel @ref="_carousel" ItemsSource="@Bulletin.Images" Style="height:200px; width:100%" ShowArrows="true" ShowDelimiters="true" AutoCycle="false">
                        <ItemTemplate>
                            <div class="d-flex flex-column flex-column justify-center" @onclick="@(e=>OpenDialog(@context.GetPath()))">
                                <MudCardMedia Image=@context.GetPath() />
                            </div>
                        </ItemTemplate>
                    </MudCarousel>
                </MudHidden>
                <MudHidden Breakpoint="Breakpoint.Lg" Invert="true">
                    <MudGrid Class="px-4">
                        @foreach(var img in Bulletin.Images)
                        {
                            <MudItem xs="4">
                                <div class="d-flex flex-column flex-column justify-center" @onclick="@(e=>OpenDialog(img.GetPath()))">
                                    <MudCardMedia Image=@img.GetPath()/>
                                </div>
                            </MudItem>
                        }
                    </MudGrid>
                </MudHidden>
            }
            @if (Bulletin.Expired != null && Bulletin.Expired < DateTime.UtcNow)
            {
                <MudOverlay Visible="true" LightBackground="true" Absolute="true">
                    <MudChip Color="Color.Error" Class="px-5 py-2 mx-2"><MudText Typo="Typo.h6">This bulletin has expired</MudText></MudChip>
                </MudOverlay>
            }
        </div>
        <MudCardActions Class="d-flex">
            <AuthorizeView>
                <Authorized>
                    <MudText Class="pl-3">@Bulletin.VotesCount</MudText>
                    <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color=@(Bulletin.UserVoted?Color.Secondary:Color.Default) OnClick=Vote Disabled=@(Bulletin.Expired != null &&Bulletin.Expired<DateTime.UtcNow)/>
                    <MudText Class="pl-3">@Bulletin.CommentsCount</MudText>
                    <MudIconButton Icon="@Icons.Filled.Comment" Color="Color.Default" />
                    <MudIconButton Icon="@Icons.Filled.Bookmark" Color=@(Bulletin.UserBookmark?Color.Warning:Color.Default) OnClick=Bookmark Style="margin-left:auto" />
                </Authorized>
                <NotAuthorized>
                    <MudText Class="pl-3">@Bulletin.VotesCount</MudText>
                    <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Default" Disabled />
                    <MudText Class="pl-3">@Bulletin.CommentsCount</MudText>
                    <MudIconButton Icon="@Icons.Filled.Comment" Color="Color.Default" />
                    <MudIconButton Icon="@Icons.Filled.Bookmark" Color="Color.Default" Style="margin-left:auto" Disabled />
                </NotAuthorized>
            </AuthorizeView>
            <MudIconButton Link=@($"bulletin?group={Bulletin.Group.Id}&bulletin={Bulletin.Id}") Icon="@Icons.Filled.ReadMore" Color="Color.Default" />

        </MudCardActions>
    </MudCard>
}



@code {
    [Parameter]
    public BulletinInfoDTO Bulletin { get; set; } = new();
    private MudCarousel<Image?> _carousel;
    private bool _updated = false;
    private void Vote()
    {
        Bulletin.VotesCount = Bulletin.UserVoted ? Bulletin.VotesCount - 1 : Bulletin.VotesCount + 1;
        Bulletin.UserVoted = !Bulletin.UserVoted;
        _bulletinService.Vote(new BulletinVote() { UserId = _user.Id, BulletinId = Bulletin.Id });
    }
    private void Bookmark()
    {
        Bulletin.UserBookmark = !Bulletin.UserBookmark;
        _userService.Bookmark(new BulletinBookmark() { UserId = _user.Id, BulletinId = Bulletin.Id });
    }
    public void Dispose()
    {

    }
    private void OpenDialog(string path)
    {
        var parameters = new DialogParameters();
        parameters.Add("Path", path);
        DialogOptions options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.Large };
        _dialogService.Show<ImageDialogComponent>("Image", parameters, options);
    }
}
